/*general layout*/
h1, h2, h3, p {
    text-align: center;
    margin-top: 1rem;
}

h2 {
    margin-bottom: 0px;
}

h4 {
    font-size: 70px;
    text-align: center;
    margin-top: 0px;
}

/*poll*/
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.bottom-three {
    margin-bottom: .5cm;
}

/*Pack loading*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_display_grid*/
.grid-container {
    width: 80%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /*background-color: #2196F3;*/
    text-align: center;
}

.menu-option {
    display: inline-block;
    /*rounded corners*/
    border-radius: 2rem;
    background: #aecef6;
    margin: .1rem;

    /*space of content to rim*/
    padding: .2rem 1rem .8rem 1rem;

    /*aspect-ratio: 2 / 1;*/
    transition: 0.3s;

    text-align: left;
}

.hidden-option {
    visibility: hidden;
}

.menu-option:hover {
    background-color: #88abd2;
    /*color: white;*/
}
