<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poll</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Overload the css href with a thymeleaf tag to support spring loading and IDEA preview.-->
    <link rel="stylesheet" th:href="@{styles.css}" href="../static/styles.css">
    <script th:src="@{fillloadpage.js}" src="../static/fillloadpage.js"></script>
</head>
<body onload="updatePackList()">
<h1>Load Poll Pack</h1>
<div class="grid-container">
    <div class="menu-option" onclick="window.location.href = 'quick'">
        <h2>Object Orientation I</h2>
        <br/>
        Warmup questions centered around the base principles of object orientation in modern
        programming languages.</a>
        <br/><br/>
        <div style="text-align: right">8 Polls / Max / 27-04-2023</div>
    </div>
</div>
</body>
</html>