<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poll</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Overload the css href with a thymeleaf tag to support spring loading and IDEA preview.-->
    <link rel="stylesheet" th:href="@{styles.css}" href="../static/styles.css">
    <script th:src="@{fillloadpage.js}" src="../static/fillloadpage.js"></script>
</head>
<body onload="updatePackList()">
<h1>Load Poll Pack</h1>
<div id="pack-container" class="grid-container">
    <!-- Content of grid is filled by JS, modifying DOM tree based on API result.-->


<!--    TODO: implement something that on click of pack creates every poll and storees series of urls in local storage-->
</div>
</body>
</html>