<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poll</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Overload the css href with a thymeleaf tag to support spring loading and IDEA preview.-->
    <link rel="stylesheet" th:href="@{styles.css}" href="../static/styles.css">
</head>
<body onload="assignMenuHandlers()">
<br/>
<h1>LivePoll Menu</h1>
<div style='text-align:center;'>
    <div class="menu-option" onclick="window.location.href = 'quick'"><h2>
        Instant Poll</h2><br/>Manually create a one-shot poll.</a></div>
    <div class="menu-option" onclick="window.location.href = 'load'"><h2>
        Load Poll</h2><br/>Load a prepared
        poll series.</a></div>
</div>
</body>
</html>